@tailwind base;
@tailwind components;
@tailwind utilities;


.thirdDesign{
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;

}
.navraw{
    background-color: white;
}
.navraw a{
    color: black !important;
}
.navraw a:hover{
    color: rgb(0, 175, 140) !important;
}
.changeNavColor{
    background-color: white !important;
    color: black !important;
}
.changeNavColor  a{

    color: black !important;
}
.changeNavColor  a:hover{

    color: rgb(89, 89, 89) !important;
}
.changeNavColor .activeNav{
    color: rgb(150, 150, 150) !important;

}
.changeNavColor svg{
    color: rgb(45, 44, 44) !important;

}
.navHideOnScroll{
   transform: translateY(-100px );
   transition-duration: .6s;
}

.common-link{

   position: relative;
}
.common-link.active{
    background-color: rgb(226 232 240 );
    color: black;
    border-radius: 100vw 0 0 100vw;
}
.common-link.active::after, .common-link.active::before{

    --border-radius:2rem;
    content: " ";
    width: var(--border-radius);
    height: var(--border-radius);
    position: absolute;
    right: 0;
    border-radius: 100vw;
    
}
.common-link::before{
    top: calc(var(--border-radius) * -1);
    border-radius: 0 0 100vw 0 !important;
    box-shadow: 10px 10px 0 10px rgb(226 232 240 );

    
}
.common-link:after{
    bottom:  calc(var(--border-radius) * -1);
    border-radius: 0 100vw 0 0 !important;
    box-shadow: 10px -10px 0 10px rgb(226 232 240 );
}

.banner-image1{
    animation: spin 10s .8s infinite linear;
}
.banner-image2{
    animation: spin1 10s .6s infinite linear;
}.banner-image3{
    animation: spin2 10s  infinite linear;
}
.banner-image4{
    animation: spin3 15s  infinite linear;
}

@keyframes spin {
    0%{
        transform: translateY(0px) 
    }
    50%{
        transform: translateY(-20px) 
    }
    100%{
        transform: translateY(0px) 
    }
}@keyframes spin1 {
    0%{
        transform: translateY(0px)rotate(0deg) ;

        
    }
    50%{
        transform: translateY(15px) rotate(10deg) ;
       
    }
    100%{
        transform: translateY(0px)rotate(0deg) ;

    }
}
@keyframes spin2 {
    0%{
        transform: translateY(0px) 
    }
    50%{
        transform: translateY(-18px) 
    }
    100%{
        transform: translateY(0px) 
    }
}
@keyframes spin3 {
    0%{
        transform: translateY(0px) 
    }
    50%{
        transform: translateY(20px) 
    }
    100%{
        transform: translateY(0px) 
    }
} 

@media screen and (max-width:767px) {
    .changeNavColor  a{

        color: white !important;
    }
    .changeNavColor li svg{

        color: white !important;
        font-weight: bold;
    }
}
